* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #292524;
  color: #fafaf9;
  font-family: "Sono", sans-serif;
  padding: 2rem 3rem;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Coiny", sans-serif;
  color: #fafaf9;
  line-height: 1;
  margin-bottom: 1rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Coiny", sans-serif;
  color: #fafaf9;
  line-height: 1;
  margin-bottom: 1rem;
}

.login-container {
  max-width: 500px;
  margin: 0 auto;
  background-color: #44403c;
  padding: 2rem;
  border-radius: 16px;
}

.dashboard-container {
  max-width: 500px;
  margin: 0 auto;
  background-color: #44403c;
  padding: 2rem;
  border-radius: 16px;
  text-align: center;
}

.profile-container {
  max-width: 500px;
  margin: 0 auto;
  background-color: #44403c;
  padding: 2rem;
  border-radius: 16px;
}

.profile-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.blogposts-container {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #44403c;
  padding: 2rem;
  border-radius: 16px;

}
.blogPost {
  font-size: 1rem;
  line-height: 1.4;
  columns: #fafaf9;
  background-color: #44403c;
  margin-bottom: 1rem;
  padding: 1rem 1.2rem;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  border-radius: 16px;
}



form {
  max-width: 500px;
  margin: 0 auto;
  color: #fafaf9;
  background-color: #44403c;
  padding: 2rem;
  border-radius: 16px;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
}

form input[type="text"],
form textarea {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  margin-bottom: 1rem;
}

form input[type="file"] {
  margin-bottom: 1rem;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-group input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
}

.post {
  max-width: 500px;
  margin: 0 auto 2rem;
  background-color: #78716c;
  padding: 2rem;
  border-radius: 16px;
}

.post h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.post p {
  margin-bottom: 1rem;
}

/* a {
  display: inline-block;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 16px 0 13px;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  color: inherit;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-decoration: none;
}

a:hover {
  transform: scale(110%) rotate(-2deg);
} */

.dashboard a {
  display: inline-block;
  border: none;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 10px 20px;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  color: #fff;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  margin-bottom: 1rem;
}

.dashboard a:hover {
  transform: scale(110%) rotate(-2deg);
}

button[type="submit"] {
  border: none;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 16px 0 13px;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  color: inherit;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}

button[type="submit"]:hover {
  transform: scale(110%) rotate(-2deg);
}

.error {
  color: #ef4444;
  margin-bottom: 1rem;
}

.success {
  color: #16a34a;
  margin-bottom: 1rem;
}

.register-button {
  display: inline-block;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  display: flex;
  gap: 48px;
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
  }
}

/* ELEMENTS */

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 68px;
  height: 68px;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  margin-top: 6px;
}

.category {
  margin-bottom: 16px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 24px;
  letter-spacing: -1px;
  border-radius: 16px;

  display: flex;
  align-items: center;
  gap: 24px;
}

@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}

ul {
  list-style: none;
}

.source:link,
.source:visited {
  color: #a8a29e;
  text-decoration: none;
  margin-left: 12px;
  transition: 0.3s;
}

.source:hover,
.source:active {
  color: #3b82f6;
}

.btn {
  border: none;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 16px 0 13px;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  color: inherit;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}


.btn:hover {
  transform: scale(110%) rotate(-2deg);
} 



.btn-all-categories {
  margin-bottom: 16px;
  width: 100%;
}

.btn-category {
  width: 100%;
  background-image: none;
}

/* FORM */
/* .fact-form {
  background-color: #44403c;
  margin-bottom: 40px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
}

.fact-form input,
.fact-form select {
  width: 220px;
  background-color: #78716c;
  border: none;
  border-radius: 100px;
  padding: 16px;
  font-size: 18px;
  color: inherit;
  font-family: inherit;
}

.fact-form input::placeholder {
  color: #a8a29e;
}

.fact-form input:first-child {
  flex-grow: 1;
}

.fact-form span {
  font-weight: 600;
  font-size: 18px;
  margin-right: 18px;
} */

@media (max-width: 1000px) {
  body {
    padding: 32px 48px;
  }

  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }

  .fact-form input,
  .fact-form select {
    width: auto;
  }
}
