################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/frontend/uploads/fia_avatar.jpeg
/frontend/uploads/IMG_0887.jpg
/frontend/uploads/IMG_0903.jpg
